<%- include("header") -%>

<h1>Welcome to your dashboard</h1>
<h1>Welcome to your dashboard</h1>
<h1>Welcome to your dashboard</h1>
<h1>Welcome to your dashboard</h1>
<h1>Welcome to your dashboard</h1>

<%- include("footer") -%>